/* .btnData {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #04aa6d;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
} */

.data__card-container {
  display: flex;
  justify-content: flex-end;
  width: 25%;
  height: 400px;
  padding: 10px;
  margin: 20px;
  border: 1px black solid;
  border-radius: 10px;
}

.data_card-container__front-end {
  display: flex;
  height: 350px;
  flex-direction: column;
  border: 1px black solid;
  
}

.data_card-container__front-end img {
  border: 1px black solid;
}

.data_card-container__front-end h4 {
  border: 1px black solid;
}

.data_card-container__front-end p {
  border: 1px black solid;
}
