* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  display: flex;
  height: 100vh;
  background-color: lightgreen;
  justify-content: center;
  align-items: center;
}

.btn-container {
  max-width: fit-content;
  margin: 5rem auto ;
}

.btn-container button {
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #e3242b;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #bc544b;
  width: 300px;
}

.btn-container button:hover {
  background-color: #b90e0a;
}

.btn-container button:active {
  background-color: #e3242b;
  box-shadow: 0 5px #bc544b;
  transform: translateY(4px);
}
