body {
  background-color: lightgreen;
}

.App {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10rem auto;
  width: 70%;
  height: auto;
  justify-content: center;
  border: 5px black solid;
}

/* This makes two containers per row as aimed for on April 18 2023 */
.App div {
  flex: 0 0 33.3333%;
}
